@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight-background: #fff9c4; /* Light yellow */
  --highlight-foreground: #000000; /* Black */
  --verse-number-last-bg: #171717; /* Light gray */
  --verse-number-last-fg: #f3f4f6; /* Dark text */
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --highlight-background: #ffeb3b; /* Bright yellow */
  --highlight-foreground: #000000; /* Black */
  --verse-number-last-bg: #f3f4f6; /* Dark gray */
  --verse-number-last-fg: #171717; /* Light text */
}

@font-face {
  font-family: 'UthmanTN';
  src: url('/fonts/UthmanTN_v2-0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UthmanTNB';
  src: url('/fonts/UthmanTNB_v2-0.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'UthmanTNB', Arial, Helvetica, sans-serif;
}

.test {
  background-color: red;
}

.test2 {
  background-color: rgb(168, 127, 241);
}

.rtl {
  direction: rtl;
  /* text-align: right; */
}

.highlighted-word {
  background-color: var(--highlight-background);
  color: var(--highlight-foreground);
  padding: 0 0.2em; /* Add padding around the highlighted word */
  border-radius: 0.2em; /* Optional: Add border radius for a rounded effect */
}

.next-word-button {
  @apply rounded-full bg-gray-200 px-3 py-1 text-xs leading-4 font-semibold text-black hover:bg-gray-300 mb-2;
  user-select: none;
}

.verse-number {
  @apply rounded-full border px-2 py-1 mx-1 w-8 h-8 inline-flex items-center justify-center;
}

.verse-number-last {
  background-color: var(--verse-number-last-bg);
  color: var(--verse-number-last-fg);
}

.verse-number-default {
  @apply border-gray-400;
  font-family: 'UthmanTN', Arial, Helvetica, sans-serif;
}
