.drawer {
  background-color: var(--drawer-background);
  color: var(--drawer-foreground);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  direction: rtl; /* Make the drawer RTL */
}

.drawer.open {
  transform: translateX(0);
}

.selected-chapter {
  font-weight: bold;
  background-color: var(--selected-chapter-background);
}

.drawer-item {
  cursor: pointer;
  @apply text-lg; /* Increase font size using Tailwind */
  transition: background-color 0.3s ease-in-out;
}

.drawer-item:hover {
  background-color: var(--drawer-item-hover-background);
}

.chapter-number {
  @apply mr-1; /* Tailwind spacing for margin-right */
}

.chapter-name {
  @apply mr-4; /* Tailwind spacing for margin-right */
}

.theme-toggle {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.theme-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Light mode styles */
:root {
  --drawer-background: white;
  --drawer-foreground: black;
  --selected-chapter-background: #f3f4f6; /* Tailwind's gray-100 */
  --drawer-item-hover-background: #e5e7eb; /* Tailwind's gray-200 */
}

/* Dark mode styles */
[data-theme="dark"] {
  --drawer-background: #1a1a1a; /* Dark background */
  --drawer-foreground: #ededed; /* Light text */
  --selected-chapter-background: #333333; /* Darker background for selected chapter */
  --drawer-item-hover-background: #444444; /* Darker background on hover */
}